meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title GitHub / caalguzman
link(rel="stylesheet", href="https://unpkg.com/css.gg/icons/all.css")
link(rel="stylesheet", href="./assets/css/style.css")
link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&display=swap" )
script(src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js")
script(src="./assets/js/app.js")