header.header
  nav
    .nav-container
      ul.navigation
        li.navigation__item
          img(src="./assets/images/logo/GitHub-Mark-Light-32px.png", alt="")
        li.navigation__item
            input(type="text" placeholder="Search or jump to...")
        li.navigation__item Pull request
        li.navigation__item Issues
        li.navigation__item Marketplace
        li.navigation__item Explore
      ul.session-bar
        li.session-bar__item
          i.gg-bell
        li.session-bar__item
          i.gg-math-plus
        li.session-bar__item
          img(src="./assets/images/perfil.jpeg", alt="Photo Carlos Guzmán")
          i.gg-chevron-down
  .main-nav-container
    ul.main-nav
      li.main-nav__item--active
        i.gg-readme
        a#overviews-btn(href="#") Overview
      li.main-nav__item
        i.gg-album
        a#repositories-btn(href="#") Repositories
      li.main-nav__item
        i.gg-album
        a(href="#") Projects
      li.main-nav__item 
        i.gg-shape-hexagon
        a(href="#") Packages
          
