
<h1 class="content__title">Popular Repositories
  <div class="content">
    <div class="card">
      <h3 class="card__title">hyperblog</h3>
      <p class="card__forked-description">Forked from freddier/hyperblog</p>
      <p class="card__readme-description">Un blog increíble para el curso de Git y Github de Platzi</p>
      <ul class="card__languages">
        <li> 
          <p>HTML</p>
        </li>
        <li> 
          <p>JavaScript</p>
        </li>
        <li> 
          <ion-icon name="star-outline"></ion-icon><span>&nbsp;1</span>
        </li>
        <li>
          <ion-icon name="git-network-outline"></ion-icon><span>&nbsp; 2</span>
        </li>
      </ul>
    </div>
    <div class="card">
      <h3 class="card__title">hyperblog</h3>
      <p class="card__forked-description">Forked from freddier/hyperblog</p>
      <p class="card__readme-description">Un blog increíble para el curso de Git y Github de Platzi</p>
      <ul class="card__languages">
        <li> 
          <p>HTML</p>
        </li>
        <li> 
          <p>JavaScript</p>
        </li>
        <li> 
          <ion-icon name="star-outline"></ion-icon><span>&nbsp;1</span>
        </li>
        <li>
          <ion-icon name="git-network-outline"></ion-icon><span>&nbsp; 2</span>
        </li>
      </ul>
    </div>
    <div class="card">
      <h3 class="card__title">hyperblog</h3>
      <p class="card__forked-description">Forked from freddier/hyperblog</p>
      <p class="card__readme-description">Un blog increíble para el curso de Git y Github de Platzi</p>
      <ul class="card__languages">
        <li> 
          <p>HTML</p>
        </li>
        <li> 
          <p>JavaScript</p>
        </li>
        <li> 
          <ion-icon name="star-outline"></ion-icon><span>&nbsp;1</span>
        </li>
        <li>
          <ion-icon name="git-network-outline"></ion-icon><span>&nbsp; 2</span>
        </li>
      </ul>
    </div>
    <div class="card">
      <h3 class="card__title">hyperblog</h3>
      <p class="card__forked-description">Forked from freddier/hyperblog</p>
      <p class="card__readme-description">Un blog increíble para el curso de Git y Github de Platzi</p>
      <ul class="card__languages">
        <li> 
          <p>HTML</p>
        </li>
        <li> 
          <p>JavaScript</p>
        </li>
        <li> 
          <ion-icon name="star-outline"></ion-icon><span>&nbsp;1</span>
        </li>
        <li>
          <ion-icon name="git-network-outline"></ion-icon><span>&nbsp; 2</span>
        </li>
      </ul>
    </div>
    <div class="card">
      <h3 class="card__title">hyperblog</h3>
      <p class="card__forked-description">Forked from freddier/hyperblog</p>
      <p class="card__readme-description">Un blog increíble para el curso de Git y Github de Platzi</p>
      <ul class="card__languages">
        <li> 
          <p>HTML</p>
        </li>
        <li> 
          <p>JavaScript</p>
        </li>
        <li> 
          <ion-icon name="star-outline"></ion-icon><span>&nbsp;1</span>
        </li>
        <li>
          <ion-icon name="git-network-outline"></ion-icon><span>&nbsp; 2</span>
        </li>
      </ul>
    </div>
    <div class="card">
      <h3 class="card__title">hyperblog</h3>
      <p class="card__forked-description">Forked from freddier/hyperblog</p>
      <p class="card__readme-description">Un blog increíble para el curso de Git y Github de Platzi</p>
      <ul class="card__languages">
        <li> 
          <p>HTML</p>
        </li>
        <li> 
          <p>JavaScript</p>
        </li>
        <li> 
          <ion-icon name="star-outline"></ion-icon><span>&nbsp;1</span>
        </li>
        <li>
          <ion-icon name="git-network-outline"></ion-icon><span>&nbsp; 2</span>
        </li>
      </ul>
    </div>
    <div class="card">
      <h3 class="card__title">hyperblog</h3>
      <p class="card__forked-description">Forked from freddier/hyperblog</p>
      <p class="card__readme-description">Un blog increíble para el curso de Git y Github de Platzi</p>
      <ul class="card__languages">
        <li> 
          <p>HTML</p>
        </li>
        <li> 
          <p>JavaScript</p>
        </li>
        <li> 
          <ion-icon name="star-outline"></ion-icon><span>&nbsp;1</span>
        </li>
        <li>
          <ion-icon name="git-network-outline"></ion-icon><span>&nbsp; 2</span>
        </li>
      </ul>
    </div>
  </div>
</h1>