.content-container#overviews
  h1.content__title Popular Repositories
  .content.overviews
    .card
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    .card
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    .card
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    .card
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    .card
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    .card
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    .card
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2


