
<div class="perfil-container"><img class="perfil__image" src="./assets/images/perfil.jpeg" alt="Carlos Guzmán"/>
  <div class="perfil__user-info">
    <h2 class="perfil__user-info--name">Carlos Guzmán</h2>
    <h3 class="perfil__user-info--username">caalguzman</h3>
  </div>
  <button class="perfil__user-edit-profile-btn">Edit Profile</button>
  <ul class="perfil__user-follows">
    <li> <a> <i class="gg-user-add"></i></a></li>
    <li><a href="#">1 follower</a></li>
    <li> <a href="#">0 following</a></li>
    <li><a href="#">
        <ion-icon name="star-outline"></ion-icon><span>  1</span></a></li>
  </ul>
  <div class="perfil__user-data">
    <p> 
      <ion-icon name="business-outline"></ion-icon><span> www.expressingenieria.com</span>
    </p>
    <p> 
      <ion-icon name="location-outline"></ion-icon><span> Colombia</span>
    </p>
    <p> 
      <ion-icon name="mail-outline"></ion-icon><span> cguzman@expressingenieria.com</span>
    </p>
  </div>
</div>