.perfil-container
  img.perfil__image(src="./assets/images/perfil.jpeg", alt="Carlos Guzmán")
  .perfil__user-info
    h2.perfil__user-info--name Carlos Guzmán
    h3.perfil__user-info--username caalguzman
  button.perfil__user-edit-profile-btn Edit Profile
  ul.perfil__user-follows
    li 
      a 
        i.gg-user-add
    li
      a(href="#") 1 follower
    li 
      a(href="#") 0 following
    li
      a(href="#")
        ion-icon(name="star-outline")
        span   1
  .perfil__user-data
    p 
      ion-icon(name="business-outline")
      span  www.expressingenieria.com
    p 
      ion-icon(name="location-outline")
      span  Colombia
    p 
      ion-icon(name="mail-outline")
      span  cguzman@expressingenieria.com
