.content-container#repositories.hide
  .search-form
    input.search-form__repo(type="text" placeholder="Find a repository...")
    select.search-form-type()
      option(value="All") Type All
      option(value="Public") Public
      option(value="Private") Private
      option(value="sources") Sources
    select.search-form-language(name="type" Placeholder="demo")
      option(value="All") Language:All
      option(value="html") Public
      option(value="javascript") JavaScript
      option(value="css") CSS
    button New
    
  .content#repositories
    .card--detail
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    
    .card--detail
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    .card--detail
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    .card--detail
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    .card--detail
      h3.card__title hyperblog
      p.card__forked-description Forked from freddier/hyperblog
      p.card__readme-description Un blog increíble para el curso de Git y Github de Platzi
      ul.card__languages
        li 
          p HTML
        li 
          p JavaScript
        li 
          ion-icon(name="star-outline")
          span &nbsp;1
        li
          ion-icon(name="git-network-outline")
          span &nbsp; 2
    