/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */

$orange-color: #f7826c;
$lightGray-color:#e1e4e8;
$mediumGray-color:#666666;
$darkGray-color:#3f4448;
$darkBlue-color:#24292f;
$lightBlue-color:#0275d8;
$white-color:#FFFFFF;

*{  
  margin: 0;
  padding: 0;
}
html{
  font-size:16px;
}